{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
                     
        <div class="col-xs-12 col-md-12">
            <a href="{{ path("add_langage")}}">Ajouter une association</a>
            <table class="table table-striped datatable_esgi">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for langage in langages %}
                        <tr>
                            <td class="col s3">
                                {{langage.nom}}
                            </td>
                            <td class="col s3">
                                <a href="{{path('delete_langage',{'id':langage.id})}}" class="orange-text text-lighten-2">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                                <a href="{{path('edit_langage',{'id':langage.id})}}" class="orange-text text-lighten-2">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

